body {
}


.hasNote {
    color: blue;
    font-weight: bold;
}

.noNote {
    color: black;
    font-weight:normal;

}

.Completed {
    color: green;
    font-weight: bold;
    background-color: lightcyan !important;
}

.Cancelled {
    color: brown;
    font-weight: bold;
    text-decoration: line-through;
    border-color: brown;
    background-color: floralwhite !important;
}

.NotCompleted {
    background-color: white !important;
}

.DashboradAdminTable{
   margin:auto; 
   padding:5px;
  
  }


.DashboardContainerDiv {
  margin:50px;
  margin-top:100px;  
  padding:50px;
  background-color: floralwhite
}
.dt-buttons{
position: absolute;
    top: -40px;
    left: 0px;

}
.dataTables_filter{
   position: absolute;
    top:  0px;
    left: 0px;
    
}
.dtCenter {
    text-align:center;
}

.HeadingBackground{
      text-align:center;
     vertical-align:middle; 
      text-align:center; 
      font-size:48px;
      position: absolute;
    top: +10px;
    
}
.NavButtons {
     text-align:center;
     vertical-align:middle; 
      text-align:center;     
      position: absolute;
    top: 35px;
}